{% extends "base.html" %}


{% block content %}


<div class="row mt-3 m-1">
  <div class="col-lg-3 m-1 mx-auto">

    <!-- Hover added -->
    <div class="list-group">
       <a href="/" class="list-group-item list-group-item-action">All Products</a>
      {% for category in category %}
      <a href="/?category={{category.id}}" class="list-group-item list-group-item-action">{{category.name}}</a>
      {% endfor %}
    </div>
    
  </div>
  <div class="col-lg-9 mx-auto">


    <!-- total fleched element-->
    <div class="container-fluid mt-1">
      <div class="row mx-auto">
      {% for product in products %}
 
        <div class="card mx-auto " style="width:18rem;">
          <img class="card-img-top mt-1" src="{{product.image.url}}" alt="Card image cap">
         <div class="card-body">
           <h5 class="card-title">{{product.name}}</h5>
           <p class="card-text">{{product.price}}</p>
           <a href="" class="btn btn-primary">add to cart</a>
         </div>
        </div>

      {% endfor %}
      </div>
   </div>


  </div>
</div>

{% endblock %}

