{% extends "base.html" %}

 {% block css %}


.card {
    border: none; 
    border-radius: 0;
}


{% endblock %}


{% block content %}

<div class="container m-4">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h3 class="text-center">Create New Account</h3>
        </div>
        <div class="card-body">
          <form id="registrationForm" action="/signup/" method="POST">
            {% csrf_token %}
            <div class="form-group">
              <label for="firstName m-1">First Name :</label>
              <input type="text" class="form-control form-control-sm" id="firstName" name="firstName">
            </div>
            <div class="form-group m-1">
              <label for="lastName">Last Name :</label>
              <input type="text" class="form-control form-control-sm" id="lastName" name="lastName">
            </div>
            <div class="form-group m-1">
              <label for="phone">Phone :</label>
              <input type="tel" class="form-control form-control-sm" id="phone" name="phone">
            </div>
            <div class="form-group m-1">
              <label for="email">Email :</label>
              <input type="email" class="form-control form-control-sm" id="email" name="email">
            </div>
            <div class="form-group m-1">
              <label for="password">Password :</label>
              <input type="password" class="form-control form-control-sm" id="password" name="password">
            </div>
            <button type="submit" class="btn btn-primary btn-block mt-2">Create New Account</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>  


{% endblock %}

